/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos do corpo e do contêiner principal */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 20px;
}

/* Estilo do formulário de adicionar filme */
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

form input, form textarea, form button {
    margin-bottom: 10px;
}

form input, form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #218838;
}

/* Estilos da lista de filmes */
#filmList {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.film {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.film img {
    width: 100%;
    max-height: 300px; /* Definindo altura máxima da imagem */
    height: auto;
    display: block;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.film h3 {
    text-align: center;
    padding: 10px;
    margin: 0;
    background-color: #007bff;
    color: white;
    border-bottom: 1px solid #ccc;
}

.film p {
    padding: 10px;
    text-align: center;
    margin: 0;
}

.film button {
    width: 100%;
    padding: 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 0 0 5px 5px;
    cursor: pointer;
}

.film button:hover {
    background-color: #c82333;
}
